<!DOCTYPE html>
<html lang="pl">
<body>
 <div class="dashboard-container">
  <!-- LEWY PANEL -->
  <app-sidebar></app-sidebar>

  <!-- PRAWA STRONA -->
  <main class="main-content">

    <header>
      <h1>Twój profil</h1>
      <p>Dane konta użytkownika</p>
    </header>

    <section class="profile-section">
      <div class="profile-card">
        <h2>Dane profilu</h2>

        <p><strong>Imię i nazwisko:</strong> {{ profile.name }} {{ profile.lastName }}</p>

        <p><strong>Rola:</strong>
          {{ profile.role === 'STUDENT' ? 'Uczeń' : 'Nauczyciel' }}
        </p>

        <p><strong>Szkoła:</strong> {{ profile.schoolName }}</p>

        <p *ngIf="profile.role === 'STUDENT'">
          <strong>Klasa:</strong> {{ profile.className }}
        </p>

        <p><strong>Adres e-mail:</strong> {{ profile.email }}</p>
      </div>
    </section>

  </main>
</div>

</body>
</html>
