<body>
  <div class="container">
  <div class="left">
      <h1>Music Mentor</h1>
      <p>Learn and master music with ease.</p>
  </div>
  <div class="right">
      <div *ngIf="isLoginForm" id="login-form" class="form-container active">
          <h2>Login</h2>
          <input type="email" placeholder="Your Email" [(ngModel)]="user.email" required>
          <input type="password" placeholder="Your Password" [(ngModel)]="user.password" required>
          <button class="btn"(click)="onLogin()">Sign In</button>
          <button class="toggle-btn" (click)="toggleForms()">Don't have an account? Register</button>
      </div>
      <div *ngIf="!isLoginForm" id="register-form" class="form-container">
        <h2>Register</h2>
        <input type="text" placeholder="First Name" [(ngModel)]="user.name" required />
        <input type="text" placeholder="Last Name" [(ngModel)]="user.lastName" required />
        <input type="email" placeholder="Email" [(ngModel)]="user.email" required />
        <input type="password" placeholder="Password" [(ngModel)]="user.password" required />
        <select required>
          <option value="" disabled selected>I am a...</option>
          <option value="student" [(ngModel)]="user.role">Student</option>
          <option value="teacher" [(ngModel)]="user.role">Teacher</option>
        </select>
        <button class="btn-register" (click)="onRegister()">Sign Up</button>
        <button class="toggle-btn" (click)="toggleForms()">Already have an account? Login</button>
      </div>
  </div>
</div>
</body>
