<body>
  <div class="container">
    <div class="left">
      <h1>Music Mentor</h1>
      <p>Ucz się i opanuj muzykę z łatwością.</p>
    </div>
    <div class="right">
      <div class="form-wrapper">
        <!-- FORMULARZ LOGOWANIA -->
        <form *ngIf="isLoginForm" #loginForm="ngForm" (ngSubmit)="onLogin()" class="form-container">
          <h2>Logowanie</h2>

          <input type="email" placeholder="Twój e-mail" name="userEmail" [(ngModel)]="login.email" required email />
          <div *ngIf="loginForm.submitted && loginForm.form.get('email')?.invalid" class="error">
            Nieprawidłowy e-mail!
          </div>

          <input type="password" placeholder="Twoje hasło" name="userPassword" [(ngModel)]="login.password" required minlength="8" />
          <div *ngIf="loginForm.submitted && loginForm.form.get('password')?.invalid" class="error">
            Hasło musi mieć co najmniej 8 znaków!
          </div>

          <button class="btn" [disabled]="!loginForm.valid">Zaloguj się</button>
          <button type="button" class="toggle-btn" (click)="toggleForms()">Nie masz konta? Zarejestruj się</button>
        </form>

        <!-- FORMULARZ REJESTRACJI -->
        <form *ngIf="!isLoginForm" #registerForm="ngForm" (ngSubmit)="onRegister()" class="form-container">
          <h2>Rejestracja</h2>

          <input type="text" placeholder="Imię" name="name" [(ngModel)]="register.name" required pattern="^[A-Za-zżźćńółęąśŻŹĆĄŚĘŁÓŃ]+$" />
          <div *ngIf="registerForm.submitted && registerForm.form.get('name')?.invalid" class="error">
            Dozwolone są tylko litery!
          </div>

          <input type="text" placeholder="Nazwisko" name="lastName" [(ngModel)]="register.lastName" required pattern="^[A-Za-zżźćńółęąśŻŹĆĄŚĘŁÓŃ]+$" />
          <div *ngIf="registerForm.submitted && registerForm.form.get('lastName')?.invalid" class="error">
            Dozwolone są tylko litery!
          </div>

          <input type="email" placeholder="E-mail" name="email" [(ngModel)]="register.email" required email />
          <div *ngIf="registerForm.submitted && registerForm.form.get('email')?.invalid" class="error">
            Nieprawidłowy e-mail!
          </div>

          <input type="password" placeholder="Hasło" name="password" [(ngModel)]="register.password" required pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*]).{8,}$" />
          <div *ngIf="registerForm.submitted && registerForm.form.get('password')?.invalid" class="error">
            Hasło musi zawierać 8 znaków, 1 wielką literę, 1 cyfrę i 1 znak specjalny!
          </div>
          <select name="schoolName" [(ngModel)]="register.schoolName" required>
          <option value="" disabled selected>Wybierz szkołę</option>
          <option value="SP1">Szkoła Podstawowa nr 1 w Zabrzu</option>
          <option value="SP2">Szkoła Podstawowa nr 2 w Katowicach</option>
          <option value="SP3">Szkoła Podstawowa nr 3 w Gliwicach</option>
          <option value="LO1">I Liceum Ogólnokształcące w Chorzowie</option>
          <option value="LO2">II Liceum Ogólnokształcące w Bytomiu</option>
          <!-- dodaj więcej szkół według uznania -->
        </select>
        <div *ngIf="registerForm.submitted && registerForm.form.get('schoolName')?.invalid" class="error">
          Wybierz nazwę szkoły!
        </div>

          <select name="role" [(ngModel)]="register.role" required>
            <option value="" disabled selected>Jestem...</option>
            <option [value]="Role.STUDENT">Uczniem</option>
            <option [value]="Role.TEACHER">Nauczycielem</option>
          </select>
          <div *ngIf="registerForm.submitted && registerForm.form.get('role')?.invalid" class="error">
            Wybierz rolę!
          </div>

          <button class="btn-register" [disabled]="!registerForm.valid">Zarejestruj się</button>
          <button type="button" class="toggle-btn" (click)="toggleForms()">Masz już konto? Zaloguj się</button>
        </form>
      </div>
    </div>
  </div>
</body>
