<body>
  <div class="dashboard-container">
  <aside class="sidebar">
      <h2>Music Mentor</h2>
      <nav>
          <ul>
              <li><a href="#" class="active">Panel Główny</a></li>
              <li><a href="#">Moje Kursy</a></li>
              <li><a href="#">Twórz Lekcje</a></li>
              <li><a routerLink="/quizAdd">Twórz Quizy</a></li>
              <li><a href="#">Postępy Uczniów</a></li>
              <li><a href="#">Profil</a></li>
              <li><a href="#">Wyloguj się</a></li>
          </ul>
      </nav>
  </aside>

  <main class="main-content" *ngIf="user.role === Role.TEACHER">
      <header>
          <h1>Witaj, Nauczycielu!</h1>
          <p>Zarządzaj lekcjami, quizami i monitoruj postępy uczniów.</p>
      </header>
      <section class="cards">
          <div class="card">
              <h3>Utwórz Nową Lekcję</h3>
              <p>Projektuj i publikuj materiały edukacyjne.</p>
          </div>
          <div class="card">
              <h3>Przegląd Postępów Uczniów</h3>
              <p>Śledź, jak uczniowie się uczą.</p>
          </div>
          <div class="card">
              <h3>Twórz Quizy</h3>
              <p>Twórz i aktualizuj testy sprawdzające wiedzę.</p>
          </div>
      </section>
  </main>

  <main class="main-content" *ngIf="user.role === Role.STUDENT">
    <header>
      <h1>Witaj, Uczniu!</h1>
      <p>Rozwijaj swoją wiedzę, rozwiązuj quizy i przeglądaj kursy.</p>
    </header>
    <section class="cards">
      <div class="card">
        <h3>Moje Kursy</h3>
        <p>Kontynuuj naukę w rozpoczętych kursach.</p>
      </div>
      <div class="card">
        <h3>Quizy do Rozwiązania</h3>
        <p>Sprawdź swoją wiedzę w quizach przygotowanych przez nauczycieli.</p>
      </div>
      <div class="card">
        <h3>Postępy</h3>
        <p>Sprawdź swoje wyniki i osiągnięcia.</p>
      </div>
    </section>
  </main>

</div>
</body>
