<!-- TOP BAR – widoczny tylko na mobile/tablet -->
<div class="top-bar">
  <button class="hamburger" (click)="toggleSidebar()">☰</button>
  <span class="brand-title">Music Mentor</span>
</div>

<!-- Nakładka, kliknięcie poza menu je zamyka -->
<div class="sidebar-overlay" [class.active]="sidebarVisible" (click)="toggleSidebar()"></div>

<!-- SIDEBAR -->
<aside class="sidebar" [class.mobile-visible]="sidebarVisible">
      <h2 class="sidebar-title">Music Mentor</h2> 
  <nav>
    <ul>
      <li><a routerLink="/quiz" routerLinkActive="active">Panel Główny</a></li>
      <li><a routerLink="/quiz-list" routerLinkActive="active">Moje Quizy</a></li>
      <li><a  routerLink="/lesson-list" routerLinkActive="active">Moje Lekcje</a></li>
      <li *ngIf="user.role === Role.TEACHER"><a  routerLink="/lesson-create"routerLinkActive="active">Twórz Lekcje</a></li>
      <li *ngIf="user.role === Role.TEACHER"><a routerLink="/quizAdd" routerLinkActive="active">Twórz Quizy</a></li>
      <li><a routerLink="/student-progress" routerLinkActive="active">Postępy Uczniów</a></li>
      <li><a routerLink="/profil">Profil</a></li>
     <li><a routerLink="/settings" routerLinkActive="active">Ustawienia</a></li>
      <li><a href="#">Wyloguj się</a></li>
    </ul>
  </nav>
</aside>
