<form #lessonForm="ngForm">
<!-- NAGŁÓWEK -->
<h2 class="form-title">Stwórz lekcję</h2>

  <label for="title">Tytuł:</label>
  <input
    id="title"
     name="title"
    [(ngModel)]="lesson.title"
    required
    #title="ngModel"
  />
  <div *ngIf="title.invalid && title.touched">
    Tytuł jest wymagany.
  </div>

  <label for="description">Opis:</label>
  <textarea
    style="white-space: pre-wrap;"
    id="description"
    name="description"
    [(ngModel)]="lesson.description"
    required
    #description="ngModel"
  ></textarea>
  <div *ngIf="description.invalid && description.touched">
    Opis jest wymagany.
  </div>

  <label for="className">Klasa:</label>
  <input
    id="className"
    name="className"
    [(ngModel)]="lesson.className"
    required
    #className="ngModel"
  />
  <div *ngIf="className.invalid && className.touched">
    Klasa jest wymagana.
  </div>

  <label for="content">Treść:</label>
  <textarea
    id="content"
    name="content"
    required
    #content="ngModel"
    [(ngModel)]="lesson.content" 
  ></textarea>
  <markdown [data]="lesson.content"></markdown>
  <div *ngIf="content.invalid && content.touched">
    Treść jest wymagana.
  </div>

<input type="file" (change)="onFileSelected($event)" />

<div class="button-row">
  <button class="btn" type="button" (click)="createLesson()" [disabled]="lessonForm.invalid">
    Zapisz
  </button>
  <button class="btn" type="button" (click)="router.navigate(['/lesson-list'])">
    Powrót
  </button>
</div>

</form>
