<div class="lesson-container">
  <h1>{{ lesson.title }}</h1>

  <div class="lesson-meta">
    <span>Autor: {{ lesson.author }}</span>
    <span>Data: {{ lesson.creationDate | date:'dd.MM.yyyy' }}</span>
  </div>

  <div class="lesson-description">
    {{ lesson.description }}
  </div>

  <div class="lesson-content">
    {{ lesson.content }}
  </div>
<!-- 
  <a [href]="imageUrl" target="_blank">Otwórz plik</a> -->
</div>

<div *ngIf="photoUrl; else loading">
  <img [src]="photoUrl" alt="User photo" class="rounded shadow-md" width="200">
</div>
<ng-template #loading>
  <p>Ładowanie zdjęcia...</p>
</ng-template>
