<body>
  <div class="container">
    <div class="left">
      <h1>Kreator Quizu</h1>
    </div>

    <div class="right">
      <h2>Tworzenie Quizu</h2>
      <div class="question-container">
        <label for="quizTitle">Nazwa quizu:</label>
        <input type="text" id="quizTitle" [(ngModel)]="quiz.title" name="quiz.title" required>
        <div *ngIf="showValidationMessage && quiz.title === ''" class="error-message">
          Pole nazwy quizu jest wymagane.
        </div>

        <label for="quizDescription">Opis quizu:</label>
        <textarea id="quizDescription" [(ngModel)]="quiz.description" name="quizDescription" required></textarea>
        <div *ngIf="showValidationMessage && quiz.description === ''" class="error-message">
          Pole opisu quizu jest wymagane.
        </div>

        <button type="button" class="btn save-quiz" (click)="saveQuiz()">Zapisz quiz</button>


        <!-- Sekcja pytań – widoczna tylko po zapisaniu quizu -->
        <div *ngIf="quizSaved">
          <div id="questionsContainer">
            <div *ngFor="let question of questions; let i = index" class="question">
              <label>Pytanie {{ i + 1 }}:</label>
              <input type="text" [(ngModel)]="question.questionTitle" name="question{{i}}Text" required>
              <label>Punkty</label>
              <input type="number"[(ngModel)]="question.score">


              <label>Opcje odpowiedzi:</label>
              <div class="options">
                <div class="option-row">
                  <input type="radio" name="Answer1"[(ngModel)]="question.answer1">
                  <input type="radio" name="Answer2"[(ngModel)]="question.answer2">
                  <input type="radio" name="Answer3"[(ngModel)]="question.answer3">
                  <input type="radio" name="Answer4"[(ngModel)]="question.answer4">

              </div>
            </div>
          </div>

          <button type="button" class="btn" (click)="addQuestion()" [disabled]="!quizSaved">Dodaj pytanie</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
